.button {
    @apply text-white;
    @apply bg-black;
    @apply hover:bg-red-500;
    @apply focus:ring-4;
    @apply focus:outline-none;
    @apply font-medium;
    @apply rounded;
    @apply text-lg;
    @apply px-8;
    @apply py-4;
    @apply text-center;
}

.title {
    @apply text-3xl;
    @apply sm:text-7xl;
    @apply font-bold
}

.heading {
    @apply text-2xl;
    @apply sm:text-5xl;
    @apply font-semibold;
}

.redHeading {
    @apply text-sm;
    @apply sm:text-xl;
    @apply text-red-500;
    @apply tracking-widest;
}

.subHeading {
    @apply text-xl;

    @apply sm:text-2xl;
}

.minih {
    @apply text-xl;
    @apply font-medium;
}

.p {
    @apply text-sm;
    @apply sm:text-lg;
    @apply text-slate-400;
    @apply tracking-wider;

    @apply font-normal;
}

.rad-grad {
    background-image: radial-gradient(closest-side, rgb(255, 85, 85), #fff);
}

.delay1000 {
    animation-delay: 1s;
}

.delay500 {
    animation-delay: 500ms;
}

.delay1500 {
    animation-delay: 1500ms;
}

.delay1200 {
    animation-delay: 1200ms;
}